<div ng-controller="ActivityProposalCtrl as activity">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Rooms</h3>
            <ul>
                <li ng-repeat="room in activity.rooms">
                    {{room.name}}
                </li>
            </ul>
        </div>
        <div class="eventol-floating-button">
            <a type="submit" href="#" class="btn btn-primary btn-fab">
                <i class="material-icons" data-toggle="modal" data-target="#room-dialog">add</i>
            </a>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 3em;">
        <div class="panel-body">
            <h3>Activity Proposals</h3>
            <p><strong>Acá hay que hacer la vista de propuesta de charlas como en eventoL 1.0</strong></p>
            <ul>
                <li ng-repeat="proposal in activity.proposals">
                    {{proposal.type.name}}: {{proposal.title}} - {{proposal.abstract}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="room-dialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add room</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="name">Room name:</label>
                            <div class="col-sm-5">
                                <input id="name" name="name" type="text" placeholder="Some Room"
                                       class="form-control input-md" ng-model="activity.newRoom" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
