$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

$dark-primary-color: #F57C00;
$primary-color: #FF9800;
$light-primary-color: #FFE0B2;
$text-icons-color: #212121;
$accent-color: #7C4DFF;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$body-background-color: #edecec;

/* Override of bootstrap colors */
$brand-primary: $primary-color;
$brand-success: $accent-color;
$brand-danger: $dark-primary-color;
$brand-warning: $light-primary-color;
$brand-info: $secondary-text-color;

$material-font-path: '../bower_components/bootstrap-material-design/';
@import '../bower_components/bootstrap-material-design/sass/bootstrap-material-design';
@import '../bower_components/bootstrap-material-design/sass/ripples';

/**
 * app-wide styles
 */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    overflow-y: scroll;
}

body {
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 400;
    color: #212121;
    background: $body-background-color;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 600;
}

h5, h6 {
    font-weight: 700;
}

.hero {
    position: relative;
    background-size: cover;
    z-index: 2;
    margin: 0;
    width: 100%;
    background-position: 50%;
    background-color: transparent;
    text-align: center;
    @media screen and (max-width: 767px) {
        padding: 130px 0 110px
    }
    @media screen and (min-width: 768px) {
        padding: 240px 0 190px
    }
}

.hero > h1 {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 10;
    font-size: 72px;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.7);
    font-weight: 800;
    @media screen and (min-width: 768px) {
        width: 65%
    }
}

.hero > p {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 10;
    font-size: 48px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.7);
    font-weight: 600;
    @media screen and (min-width: 768px) {
        width: 85%
    }
}

.form-group label.control-label {
    font-size: 16px;
    color: $secondary-text-color;
    font-weight: 500;
    margin: 16px 0 0 0;
}

hr {
    border-top: 1px solid $divider-color;
}

// component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'event/admin/admin.scss';
@import 'event/create/create.scss';
@import 'event/eventNavbar/eventNavbar.scss';
@import 'event/home/home.scss';
@import 'main/main.scss';
@import '../components/footer/footer.scss';
@import '../components/navbar/navbar.scss';
// endinjector

