<navbar fixed="true"></navbar>

<section style="margin-top:80px">
    <div class="panel panel-default" style="width:90%; margin:auto;">
        <div class="panel-body" style="margin: 30px; text-align: center">
            <wizard on-finish="createEvent.finishedWizard()">
                <wz-step wz-title="Basic Data">
                    <div class="step-body row">

                        <h3>Let's provide some basic data about {{createEvent.event.title ? createEvent.event.title:
                            "your event"}}</h3>

                        <hr>

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="name">Event name:</label>
                                <div class="col-md-5">
                                    <input id="name" name="name" type="text" placeholder="My awesome event"
                                           class="form-control input-md" ng-model="createEvent.event.title" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="short-desc">Short Description</label>
                                <div class="col-md-5">
                                        <textarea class="form-control" id="short-desc" name="short-desc"
                                                  ng-model="createEvent.event.short_description"
                                                  placeholder="An awesome event for awesome people!">
                                        </textarea>
                                </div>
                            </div>

                            <div class="pull-right">
                                <button class="btn btn-raised btn-primary" type="submit" wz-next>
                                    Next <i class="material-icons">skip_next</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </wz-step>
                <wz-step wz-title="Image">
                    <div class="step-body row">

                        <h3>Choose an image that represents {{createEvent.event.title}}</h3>

                        <hr>

                        <p>This image will appear in the main eventoL page when people are searching for events. Choose
                            wisely!</p>

                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-4">

                                            <div class="form-group">
                                                <input id="inputFile" multiple="" type="file" img-cropper-fileread
                                                       image="createEvent.sourceImage">
                                                <div class="input-group">
                                                    <input readonly="" class="form-control"
                                                           placeholder="Select File..." type="text">
                                                      <span class="input-group-btn input-group-sm">
                                                        <button type="button" class="btn btn-fab btn-fab-mini">
                                                            <i class="material-icons">attach_file</i>
                                                        </button>
                                                      </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div>
                                    <canvas width="500" height="300" id="canvas" image-cropper
                                            image="createEvent.sourceImage"
                                            cropped-image="createEvent.event.home_image" crop-width="460"
                                            crop-height="200"
                                            keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 80px;">
                                <div>What you'll see</div>
                                <div ng-show="createEvent.event.home_image!=null"><img
                                    ng-src="{{createEvent.event.home_image}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-raised btn-primary" type="submit" wz-next>
                                Next <i class="material-icons">skip_next</i>
                            </button>
                        </div>
                    </div>
                </wz-step>
                <wz-step wz-title="When">
                    <div class="step-body row">
                        <h3>When will {{createEvent.event.title}} be?</h3>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <multiple-date-picker
                                    disallow-back-past-months="true"
                                    sunday-first-day="true"
                                    disable-days-before="createEvent.today"
                                    day-click="dateSelected"/>
                            </div>

                        </div>

                        <div class="pull-right">
                            <button class="btn btn-raised btn-primary" type="submit" wz-next="createEvent.saveDates()">
                                Next <i class="material-icons">skip_next</i>
                            </button>
                        </div>
                    </div>
                </wz-step>
                <wz-step wz-title="Where">
                    <div class="step-body row">
                        <h3>Where will {{createEvent.event.title}} be?</h3>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <input class="form-control"
                                           name="address"
                                           places-auto-complete size="40"
                                           ng-model="createEvent.address"
                                           on-place-changed="createEvent.placeChanged()"/>
                                </div>
                            </div>
                        </div>

                        <ng-map></ng-map>

                        <div class="pull-right">
                            <button class="btn btn-raised btn-primary" type="submit" wz-next>
                                Next <i class="material-icons">skip_next</i>
                            </button>
                        </div>
                    </div>
                </wz-step>
                <wz-step wz-title="What">
                    <div class="step-body row">
                        <h3>Select {{createEvent.event.title}}'s activities that you are going to manage with
                            eventoL</h3>

                        <div class="row" style="text-align: left">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.home_page"> Home page
                                    </label>
                                </div>

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.registration"> Registration
                                    </label>
                                </div>

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.collaborators"> Collaborators
                                    </label>
                                </div>

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.talks"> Talks
                                    </label>
                                </div>

                                <div class="togglebutton" ng-show="createEvent.event.talks">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.talk_proposals"> Talk
                                        Proposals
                                    </label>
                                </div>

                                <div class="togglebutton" ng-show="createEvent.event.talks">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.talks_schedule"> Talks
                                        Schedule
                                    </label>
                                </div>

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.install_fest"> Install Fest
                                    </label>
                                </div>

                                <div class="togglebutton">
                                    <label>
                                        <input type="checkbox" ng-model="createEvent.event.prizes"> Prizes
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-raised btn-primary" type="submit" wz-next>
                                Next <i class="material-icons">skip_next</i>
                            </button>
                        </div>
                    </div>
                </wz-step>
                <wz-step wz-title="Contact">
                    <div class="step-body row">
                        <h3>Where else people can reach {{createEvent.event.title}}?</h3>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-facebook-f"></i></span>
                                        <label class="control-label" for="facebook">Facebook</label>
                                        <input id="facebook" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                        <label class="control-label" for="twitter">Twitter</label>
                                        <input id="twitter" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-google"></i></span>
                                        <label class="control-label" for="google">Google</label>
                                        <input id="google" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <label class="control-label" for="mail">E-mail</label>
                                        <input id="mail" class="form-control" type="text">
                                    </div>
                                </div>

                                <p>
                                    ... y otros... la idea es que los tipos vengan de la API
                                </p>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-raised btn-primary" type="submit" wz-next>
                                Finish <i class="material-icons">check_circle</i>
                            </button>
                        </div>
                    </div>
                </wz-step>
            </wizard>
        </div>
    </div>
</section>

<footer></footer>
