<event-navbar></event-navbar>

<div class="container-fluid admin-container">
    <div class="row">
        <div class="col-sm-2 col-xs-3 sidebar">
            <ul class="nav nav-sidebar" style="margin-left: -40px">
                <li ng-repeat="feature in admin.event.features" ng-class="{active: admin.isActive(feature.slug)}">
                    <a href="#" ng-click="admin.view=feature.slug">
                        {{feature.name}}
                    </a>
                </li>
                <li ng-class="{active: admin.isActive('members')}">
                    <a href="#" ng-click="admin.view='members'">Members</a>
                </li>
                <li ng-class="{active: admin.isActive('event-description')}">
                    <a href="#" ng-click="admin.view='event-description'">Event Description</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-xs-9 col-xs-offset-3">
            <div ng-switch on="admin.view">
                <div ng-switch-when="activity-proposals">
                    <ng-include src="'app/event/admin/activityProposal/activity-proposal.html'"></ng-include>
                </div>
                <div ng-switch-when="activities-schedule">
                    <ng-include src="'app/event/admin/activitySchedule/activity-schedule.html'"></ng-include>
                </div>
                <div ng-switch-when="installations"></div>
                <div ng-switch-when="registrations">
                    <ng-include src="'app/event/admin/registration/registration-admin.html'"></ng-include>
                </div>
                <div ng-switch-when="members">
                    <ng-include src="'app/event/admin/members/members.html'"></ng-include>
                </div>
                <div ng-switch-when="event-description">
                    <ng-include src="'app/event/admin/eventDescription/event-description.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
