.admin-container {
    padding-top: 70px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    background: #ffffff;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding: 14px 20px 14px 52px;
    display: block;
    color: #4C4C4C;
    font-weight: 500;
    position: relative;
}

.nav-sidebar > li.active > a {
    color: #262626;
    background-color: #F4F4F4;
}

.btn-group-textangular {
    @extend .btn-group;
    /*padding: 0;*/
    margin: 0;
}

.btn-textangular {
    @extend .btn;
    padding: 8px 10px;
    margin: 0;
}

.btn-default {
    @extend .btn-default;
    padding: 0;
    margin: 0;
}

.registration-grid {
    font-size: 10px;
    padding: 0;
}
